@using vh_project.Domain.ViewModel

@model CustomerDetailsVM

<div class="container my-4">
    <div class="card shadow-lg border-0 rounded">
        <div class="card-header bg-primary text-white text-center text-uppercase rounded-top">
            <h2>Post Details</h2>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <!-- Brand Details Section -->
                <div class="col-md-8">
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0"> Id</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text font-weight-bold">@Model.Post.Id</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0"> Name</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text font-weight-bold">@Model.Post.Name</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Brand</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.Brand.Name</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Vehicle Type</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.VehicleType.VehicleName</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Engine and Fuel Type</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@((EngineAndFuelType)Model.Post.EngineType)</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Transmission Type</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@((Transmission)Model.Post.Transmission)</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Engine Power</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.Engine</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Top Speed</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.TopSpeed</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Mileage</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.Mileage</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Range</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.Range</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Seating Capacity</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.SeatingCapacity</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Price From</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.PriceFrom</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Price To</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.PriceTo</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Ratings</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.Ratings</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Created On</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@Model.Post.CreatedDate</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Created By</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@((Model.Post.CreatedBy == String.Empty) ? "NA" : Model.Post.CreatedBy)</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Modified By</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@((Model.Post.LastModifiedBy == String.Empty) ? "NA" : Model.Post.LastModifiedBy)</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">
                            <p class="card-text text-uppercase mb-0">Last Modified Date</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">@((Model.Post.LastModifiedDate == DateTime.MinValue) ? "NA" : Model.Post.LastModifiedDate.ToString())</p>
                        </div>
                    </div>
                </div>

                <!-- Brand Logo Section -->
                <div class="col-md-4 text-center">
                    <div class="border rounded p-2">
                        <img src="@Model.Post.VehiceImage" alt="Brand Logo" class="img-fluid rounded" style="max-width: 100%; max-height: 200px;" />
                    </div>
                </div>
            </div>

            <!-- Back Button -->
            <div class="row mt-4">
                <div class="col text-center">
                    <a href="@Url.Action("GoBack","Home",new {page = ViewBag.Currentpage})"class="btn btn-outline-danger btn-lg rounded-pill px-4">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

</br>
@if (Model.ListOfPosts.Count > 0)
{
    <h3 class="text-secondary">You May ALso Like this</h3>
    <div class="container p-4">
        <div class="row">
            @foreach (var item in Model.ListOfPosts)
            {
                <div class="col-md-4" style="margin-bottom:20px">
                    <div class="card border-2 border border-dark shadow mb-2 bg-white rounded">
                        <div class="card-header">


                            <img src="@item.VehiceImage" height="250px" width="100%" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="text-primary text-uppercase" style="font-weight:bold">@item.Name</h6>
                                    <p class=" text-uppercase" style="font-weight:bold;color:orangered"><span>@item.PriceFrom.ToString("c")</span></p>
                                    <a class="btn btn-success" href="@Url.Action("Details","Home", new{id = item.Id,page = ViewBag.Currentpage})">Details</a>
                                </div>
                                <div class="col-md-6 text-end">
                                    <img src="@item.Brand.BrandLogo" width="80px" height="60px" />
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            }


        </div>
    </div>

}